<ion-header-bar class="bar-assertive">
	<div class="buttons">
		<a href="#/sign-in" class="return"><i class="icon ion-ios-arrow-back"></i> </a>
	</div>
	<h1 class="title">注册</h1>
	<div class="buttons next">下一步</div>
</ion-header-bar>
<ion-content class="bg">
	<div class="login">
		<div class="blueH text-center">已经有帐号了？<a href="#/sign-in">直接登录</a></div>
	</div>
	<div class="login loginInp">
		<label class="item-input">
			<input type="search" placeholder="手机号" />
		</label>
		<label class="item-input">
			<input type="text" placeholder="验证码" />
			<button class="buttonRed button1">获取验证码</button>
		</label>
		<div class="blueH text-center button-block">点击"下一步"表示我已阅读并同意<a href="#">《易士软件使用协议和隐私政策？》</a></div>
	</div>
</ion-content>
