<ion-view title="交易管理">
<ion-content class="bg">
  <div class="pdContent">
      <div class="borderWhite">
          <span class="fl">订单号：101010101010101</span><span class="textRed fr">已接受</span>
          <div class="clearfix"></div>
      </div>
  </div>
  <div class="pdContent mTop">
      <div class="borderWhiteTop">
          <div class="listName">
              <div class="fl"><img src="img/l_1.png">李航</div>
              <div class="fr"><img src="img/l_2.png">13811111111</div>
              <div class="clearfix"></div>
          </div>
      </div>
      <div class="borButt">
          <span class="fl textRed">已提交文件 test.txt	 </span><span class="textGray fr">2015-3-4 15:20</span>
          <div class="clearfix"></div>
      </div>
  </div>
  <div class="pdContent mTop">
      <div class="bortop"></div>
      <div class="title borButt">
          <span class="fl"><h4>任务列表</h4></span><span class="fr">截止日期：2015-4-21</span>
          <div class="clearfix"></div>
          <div class="mTop"></div>
          <a href="/cpPage">
              <div class="fl">
                  <img src="img/tasklogo.jpg">
                  <h4>计算器模型设计及成品渲染图</h4>
                  <p>需要完成计算机的模型设计和成品渲染，具体要求如下...</p>
              </div>
              <div class="fr mTop"><i class="icon ion-ios-arrow-right"></i></div>
          </a>
          <div class="clearfix"></div>
      </div>
  </div>
  <div class="pdContent mTop">
      <div class="borderWhite">
          <h4>任务状态</h4>
      </div>
      <div class="title borButt">
          <ul>
              <li>
                  <div class="clearfix">
                      <div class="fl">
                          <div class="point">任务  已接受</div>
                          <div class="textGray line">2015-3-1 13:00:00</div>
                      </div>
                  </div>
              </li>
              <li>
                  <div class="clearfix">
                      <div class="fl">
                          <div class="point">李航  上传文件<span>Test.txt</span></div>
                          <div class="textGray line">2015-3-2 14:22:00</div>
                      </div>
                      <div class="fr"><button class="butWhite">查看文件</button></div>
                  </div>

              </li>
              <li>
                  <div class="clearfix">
                      <div class="fl">
                          <div class="pointRed">上传文件 被退回 </div>
                          <div class="textGray line">2015-3-1 13:00:00</div>
                      </div>
                  </div>
              </li>
              <li>
                  <div class="clearfix">
                      <div class="fl">
                          <div class="point">李航  上传文件<span>Test.txt</span></div>
                          <div class="textGray line">2015-3-2 14:22:00</div>
                      </div>
                      <div class="fr"><button class="butWhite">查看文件</button></div>
                  </div>

              </li>
          </ul>
      </div>
  </div>
</ion-content>
<ion-footer-bar class="bg bortop footerCp">
    <div>
        <button class="butRed fr">确认付款</button>
    </div>
</ion-footer-bar>
</ion-view>
